header {
  position: relative;
}

header aside {
  position: absolute;
  top:0;
  right:10px;
}

header aside button {
  margin-right: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-table th {
  background-color: #f7f6de;
}

.mat-header-cell, .mat-cell {
  padding-left: 4px;
  padding-right: 4px;
}

.mat-header-cell {
  font-weight: bold;
}
