<ng-container *ngIf="user">
  <header>
    <h1 *ngIf="newMode">New User</h1>
    <h1 *ngIf="!newMode">Edit User</h1>
    <aside>
      <!--  [attr.disabled]="firstName.valid && lastName.valid && email.valid && userName.valid ? null : ''" -->
      <button mat-stroked-button color="primary" (click)="onClickSave()">
        <mat-icon aria-hidden="false" aria-label="Add User">save</mat-icon>
      </button>
      <button mat-stroked-button color="primary" (click)="onClickCancel()">
        <mat-icon aria-hidden="false" aria-label="Add User">cancel</mat-icon>
      </button>
      <button mat-stroked-button color="primary" (click)="onClickDelete()" *ngIf="!newMode">
        <mat-icon aria-hidden="false" aria-label="Delete User">delete</mat-icon>
      </button>
    </aside>
  </header>
  <section>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" [(ngModel)]="user.firstName" required maxlength="255">
      <mat-hint>
        Required and must be under 255 characters long.
      </mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" required maxlength="255">
      <mat-hint>
        Required and must be under 255 characters long.
      </mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="person@domain.com" [(ngModel)]="user.email" required maxlength="255">
      <mat-hint>
        Required and must be under 255 characters long.
      </mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="User Name" [(ngModel)]="user.userName" required maxlength="255">
      <mat-hint>
        Required and must be under 255 characters long.
      </mat-hint>
    </mat-form-field>
    <br />
    Status:
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="user.status">
      <mat-button-toggle value="A">Active</mat-button-toggle>
      <mat-button-toggle value="I">Innactive</mat-button-toggle>
      <mat-button-toggle value="T">Terminated</mat-button-toggle>
    </mat-button-toggle-group>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <input matInput placeholder="Status" [(ngModel)]="user.department" maxlength="255">
    </mat-form-field>
  </section>
</ng-container>
